body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    border: 0.25px solid black;
    height: 600px;
    width: 600px;
}

.singleBox {
    border: .25px solid black;
    box-sizing: border-box;
    flex-grow: 1;
    
}